body {
  font-family: "Raleway", sans-serif;
  background-image: radial-gradient(circle at center, #899dc4, #495d84);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
  font-weight: 300;
  position: fixed;
  left: -200px;
  right: auto;
  background-color: #303050;
}

.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-perspective: 10px;
          perspective: 10px;
  -webkit-transform: perspective(300px) rotateX(20deg);
          transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  -webkit-perspective-origin: center center;
          perspective-origin: center center;
  -webkit-transition: all 1.3s ease-out;
  transition: all 1.3s ease-out;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.all:hover {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: all 1.3s ease-in;
  transition: all 1.3s ease-in;
  -webkit-transform: perspective(10000px) rotateX(0deg);
          transform: perspective(10000px) rotateX(0deg);
}

.all:hover .text {
  opacity: 1;
}

.all:hover > div {
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.all:hover .explainer {
  opacity: 0;
}

.left,
.center,
.right,
.lefter,
.righter,
.topright,
.bottomright,
.bottomleft,
.topleft {
  width: 200px;
  height: 150px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 10px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
          box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
  position: relative;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn;
}

.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover,
.topright:hover,
.bottomright:hover,
.bottomleft:hover,
.topleft:hover {
  -webkit-box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
          box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}

.text {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: -10px;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  text-align: center;
}

.lefter {
  -webkit-transform: translateX(350px) translateZ(-50px) rotateY(-10deg);
          transform: translateX(350px) translateZ(-50px) rotateY(-10deg);
  background-image: url(image_simulator/vonneumann_icon.png);
}

.topright {
  -webkit-transform: translateX(480px) translateY(-215px) translateZ(-50px) rotateY(-10deg);
          transform: translateX(480px) translateY(-215px) translateZ(-50px) rotateY(-10deg);
  background-image: url(image_simulator/computer_icon.png);
}

.topleft {
  -webkit-transform: translateX(-500px) translateY(-220px) translateZ(-50px) rotateY(-5deg);
          transform: translateX(-500px) translateY(-220px) translateZ(-50px) rotateY(-5deg);
  background-image: url(image_simulator/calculation_icon.png);
}

.bottomright {
  -webkit-transform: translateX(280px) translateY(200px) translateZ(-50px) rotateY(-5deg);
          transform: translateX(280px) translateY(200px) translateZ(-50px) rotateY(-5deg);
  background-image: url(image_simulator/machine_icon.png);
}

.left {
  -webkit-transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
          transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
  background-image: url(image_simulator/fetch_icon.png);
}

.center {
  opacity: 1;
  background-image: url(image_simulator/cup_icon.png);
  text-align: center;
}

.right {
  -webkit-transform: translateX(30px) translateZ(-25px) rotateY(5deg);
          transform: translateX(30px) translateZ(-25px) rotateY(5deg);
  background-image: url(image_simulator/assembly_icon.png);
}

.righter {
  -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
          transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(image_simulator/instruction.png);
}

.righter {
  -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
          transform: translateX(60px) translateZ(-50px) rotateY(10deg);
  background-image: url(image_simulator/instruction.png);
}

.bottomleft {
  -webkit-transform: translateX(-700px) translateY(200px) translateZ(-50px) rotateY(5deg);
          transform: translateX(-700px) translateY(200px) translateZ(-50px) rotateY(5deg);
  background-image: url(image_simulator/exercice_icon.png);
}

.explainer {
  font-weight: 300;
  font-size: 2rem;
  color: #fff;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  width: 100%;
  height: 100%;
  background-color: #303050;
  background-image: radial-gradient(circle at center top, #cce, #33a);
  border-radius: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ref {
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d80), to(#c00));
  background-image: linear-gradient(to bottom, #d80, #c00);
  border-radius: 3px;
  padding: 7px 10px;
  position: absolute;
  font-size: 16px;
  bottom: 10px;
  right: 10px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.ref::first-letter {
  font-size: 12px;
}

a {
  text-decoration: none;
}

#text_home {
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  bottom: -10px;
  left: 5px;
  position: absolute;
  will-change: transform;
  color: #fff;
  text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}
/*# sourceMappingURL=style.css.map */